@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --var-bg-color: #d8d8d8;
    --var-bleu: #FFFAFF;
    --var-jaune: #DE8787;
    --var-text-color: #1c1c1c;
    --var-text-color-hover: #000000;
    --var-gris: #2c2c2c;
    --var-gris-clair: #919191;
    --var-gris-tres-clair: #C2C2C2;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    background-color: var(--var-bleu);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
    padding: 3rem;
}

.box-form {
    width: 100%;
    height: 100%;
    background-color: var(--var-bg-color);
    border-radius: 25px;
    position: relative;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 4px var(--var-gris);
}

form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border: 3px var(--var-jaune) solid;
    border-radius: 25px;
    padding: 2rem;
    width: 60%;
    background-color: #fff;
}

input {
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 0.7rem;
    border-radius: 15px;
    border: 1px var(--var-gris) solid;
    margin-bottom: 1rem;
    width: 18rem;
    height: 3rem;
}

#mdpi2 {
    margin-top: 2rem;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.result1_r {
    color: red;
}

.result1_g {
    color: green;
}

.same_mdp.g {
    color: green;
}

.same_mdp.r {
    color: red;
}

button {
    background-color: var(--var-jaune);
    color: #fff;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

img {
    width: 40%;
    filter: drop-shadow(10px 10px 4px black);
}

.mdp-1-div, .mdp-2-div {
    position: relative;
    display: grid;
}

.lbl_ipt {
    background: #fff;
    position: absolute;
    top: 1.2rem;
    left: 15px;
    padding: 0px 5px;
    font-size: 12px;
    transition: 0.3s ease, color 0.3s ease, scale 0.3s ease;
    transform: translateY(-50%);
}

input:focus + .lbl_ipt, input:not(:placeholder-shown) + .lbl_ipt {
    top: -5px;
    left: -1px;
    color: var(--var-jaune);
    transform: scale(0.9);
}

input:focus, input:not(:placeholder-shown) {
    border: 1px var(--var-jaune) solid;
    outline: var(--var-jaune);
}

#tick-aperçu1, #tick-aperçu2 {
    display: none;
}

#tick-aperçu1 + label, #tick-aperçu2 + label {
    position: absolute;
    top: 1.2rem;
    right: 10px;
}

.lbl-aperçu {
    font-size: 15px;
    cursor: pointer;
    color: var(--var-gris);
}

#tick-aperçu1 + .lbl-aperçu .fa-eye {
    display: inline;
}

#tick-aperçu1 + .lbl-aperçu .fa-eye-slash {
    display: none;
}

#tick-aperçu1:checked + .lbl-aperçu .fa-eye {
    display: none;
}

#tick-aperçu1:checked + .lbl-aperçu .fa-eye-slash {
    display: inline;
}

#tick-aperçu2 + .lbl-aperçu .fa-eye {
    display: inline;
}

#tick-aperçu2 + .lbl-aperçu .fa-eye-slash {
    display: none;
}

#tick-aperçu2:checked + .lbl-aperçu .fa-eye {
    display: none;
}

#tick-aperçu2:checked + .lbl-aperçu .fa-eye-slash {
    display: inline;
}