html {
    --var-bg-color: #d8d8d8;
    --var-bleu: #FFFAFF;
    --var-jaune: #DE8787;
    --var-text-color: #1c1c1c;
    --var-text-color-hover: #000000;
    --var-gris: #2c2c2c;
    --var-gris-clair: #919191;
    --var-gris-tres-clair: #C2C2C2;
}

.progress-bar {
    position: absolute;
    height: 3rem;
    width: 83.3%;
    background: linear-gradient(to right, var(--var-bleu), var(--var-jaune));
    border-radius: 3rem;
}

.progress-bar > span {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

#input-text-div {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-text-div > input {
    width: 3rem;
    margin: 0.2rem;
    border-radius: 1rem;
    height: 3rem;
    text-align: center;
    border: 2px var(--var-jaune) solid;
    transition: 80ms ease;
}

#input-text-div > input:focus {
    transform: translateY(-5px);
    outline: none;
    

}

#input-text-div > span {
    font-size: 2rem;
}

.submit-btn {
    grid-column-start: 5;
    grid-row-start: 4;
    margin-right: 3rem;
    padding: 0.7rem;
    border-radius: 2rem;
    opacity: 0.4;
    transition: 80ms ease;
}